$lineColor: rgba(255,200,10,0.32);

footer {
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 2.4px;
    position: relative;
    
    .wrapper {
        padding: 80px 0 40px 0;
        border-bottom: 1px solid $lineColor;
    }

    .footer-content {
        width: 33.3333%;
        display: inline-block;

        .footer-logo {
            padding: 0 10px;
        }
    }

    .nav-links {
        display: inline-block;
            margin: 0;
            padding: 0 10px;
            line-height: 26px;

            li {
                display: inline-block;
                padding: 0 10px;

                a {
                    color: $white;
                    padding: 0 10px;

                    &:hover {
                        border: none;
                        color: $white;
                    }

                    @include breakpoint(1024){
                        padding: 0;
                    }
                }
            }
    }

    .copyright {
        width: 100%;
        font-size: 12px;
        line-height: 22px;
        color: $lightBlack;
        font-family: "Open Sans";
        margin-bottom: 0;
        padding-top: 40px;
        border-bottom: 0;
    }

    .footer-beerCap {
        right: 50%;
        margin-left: -24px;
        top: -8px;
    }
}