footer {
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 2.4px;
    
    .wrapper {
        margin: 80px 0;
    }

    .footer-content {
        width: 33.3333%;
        display: inline-block;

        .footer-logo {
            padding: 0 10px;
        }
    }

    .nav-links {
        display: inline-block;
            margin: 0;
            padding: 0 10px;
            line-height: 26px;

            li {
                display: inline-block;
                padding: 0 10px;

                a {
                    color: $white;
                    padding: 0 10px;

                    &:hover {
                        border: none;
                        color: $white;
                    }
                }
            }
    }

    .copyright {
        width: 100%;
        font-size: 12px;
        line-height: 22px;
        color: $lightBlack;
        font-family: "Open Sans";
        margin-bottom: 40px;
    }
}