$menu-link-color: $white;
$menu-icon-color: $white;
$border-color: $yellow;

header {
    color: $white !important;

    &.home {
        .header-content-image {
            bottom: 0 !important;

            @include breakpoint(1023){
                bottom: auto !important;
            }
        }
    }

    .navigation-bar {

        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2.4px;
        line-height: 14px;
        text-align: center;

        @include breakpoint(540){
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding: 0 10px;
            z-index: 999999;
            background: #000;
            border-bottom: 1px solid $border-color;
        }
        
        .logo-link {
            padding: 20px 0;
            display: inline-block;

            img {
                margin-right: 5px;
            }

            &:hover {
                border: none;
            }
        }

        .nav-links {
            display: inline-block;
            margin: 0;
            padding: 10px 0;

            @include breakpoint(540){
                display: none;
                width: 100%;
            }

            &.show {
                display: block;
            }

            li {
                display: inline-block;
                padding: 10px;

                @include breakpoint(540){
                    padding: 10px 0;
                    margin: 0;
                    width: 100%;
                    text-align: right;
                }

                &.join {
                    text-transform: uppercase;
                    border: 3px solid $border-color;
                    border-radius: 34px;
                    padding: 20px;

                    @include breakpoint(540){
                        padding: 10px 0;
                        border-radius: 0;
                        margin: 0;
                        border: none !important;
                    }

                    &:hover {
                        color: $white;
                        background: $yellow;                        
                    }
                    &.active {
                        color: $white;
                        background: $yellow;     
                    }
                    a {
                        padding: 20px;

                        @include breakpoint(540){
                            padding: 10px;
                        }
                    }
                    a:hover {
                        border: none;
                    }

                    @include breakpoint(540){
                        margin: 0;
                        border: none;
                        background: transparent !important;
                    }
                }

                a {
                    color: $menu-link-color;
                    padding: 10px;

                    &.active {
                        border-bottom: 1px solid #FFC80A;
                    }
                    @include breakpoint(540){
                        border: none;
                    }
                }
            }
        }

        .mobile-menu-toggle {
            display: none;
            float: right;
            padding: 20px 0;
            font-size: 24px;

            &:hover {
                border: none;
            }

            @include breakpoint(540){                
                display: inline-block;
            }
        }
    }

    .header-content {
        width: 50%;
        padding: 70px 0;

        @include breakpoint(1023){
            padding-bottom: 0;
        }

        @include breakpoint(768){
            width: 100%;
            text-align: center;
        }

        .join-container {
            @include breakpoint(1023){
                display: block;
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: -10px;
                z-index: 99999;
                left: 0;
            }
        }

        .header-title {
            font-weight: bold;
            text-transform: uppercase;

            &.small-title {
                line-height: 17px;
            }
            &.big-title {
                font-size: 90px;
                line-height: 90px;

                @include breakpoint(1023){
                    font-size: 60px;
                    line-height: 60px;
                }
            }
            &.join-link {
                color: $headerBlack;
                font-size: 12px;
                letter-spacing: 2.4px;
                line-height: 14px;
                padding: 17px 30px;
                border-radius: 50px;
                background: $yellow;

                @include breakpoint(768){
                    
                }

                &:hover {
                    // background-color: rgba($yellow, .5);
                }
            }
        }        

        .header-content-image {
            margin-bottom: -7px;
            position: absolute;
            bottom: -60%;
            /* top: 0; */
            right: 0;

            @include breakpoint(1200){
                margin-bottom: -17px;
                max-width: 100%;
            }

            @include breakpoint(1024){
                position: relative;
                bottom: auto;
                right: auto;
                margin-bottom: -27px;
            }

            @include breakpoint(768){
                margin-bottom: -50%;
            }
        }
    }
    .header-beerCap {
        right: 40px;
        bottom: -8px;
        z-index: 9999;

        @include breakpoint(1024){
            right: 80px;
        }
        @include breakpoint(1024){
            // right: 135px;
            z-index: 9999;
        }
    }

}

