main {
    background: $mainBakcgroundWhite;

    .main-content-wrapper {
        text-align: center;
    }
    
}

.sorting-container {
    h4 {
        padding: 10px;
        margin-right: 10px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2.8px;
        line-height: 23px;
    }
    .tab-nav {
        margin: 0;
    }
}
