.page {
    width: 1130px;
    margin: 0 auto;
    padding: 10px 0;
    
}
.main-content {
    background: $mainBakcgroundWhite;
}
main {
    width: 768px;
    float: left;
}
aside {
    width: 362px;
    float: left;
}
.section-title {
    color: $black;
    font-size: 36px;
    line-height: 48px;
}