<div class="beer-modal-container clearfix">

  <div class="beer-modal-action-buttons clearfix">
    <span class="icon-button pull-left">
        <img src="../assets/img/heart outline.png" alt="Add to favorites" *ngIf="!favorite" (click)="addFavorite(data)">
        <img src="../assets/img/heart solid.png" alt="Favorite beer" *ngIf="favorite" (click)="removeFavorite(data)">
    </span>
    <span class="icon-button pull-right" (click)="close()">
        <img src="../assets/img/Close icon.png">
    </span>
  </div>

  <div class="beer-modal-content clearfix">
    <div class="item clearfix">
      <div class="item-img">
        <img src="{{image_url}}" alt="{{name}}">
      </div>
      <div class="item-content text-left">
        <h1>
            {{ name }}
        </h1>
        <p>
          IBU {{ibu}}
        </p>
        <p>
          ABV {{abv}}%
        </p>
        <br>
        <p>
          {{description}}
        </p>
        <span class="icon-button text-center add-to-crate" *ngIf="alreadyInCrate == false" (click)="addToCrate(data)">
            Add to crate
        </span>
        <span class="icon-button text-center add-to-crate" *ngIf="alreadyInCrate == true" (click)="removeFromCrate(data)">
            Remove from crate
        </span>
      </div>
    </div>
  </div>

</div>