.crate__container {
    width: 264px;
    height: 318px;
    padding: 14px;
    background: url("/assets/img/crate.png") no-repeat;

    .crate__spot {
        width: 59px;
        height: 58px;
        float: left;        

        .crate__item {
            width: 100%;
            height: 100%;
            display: block;

            &.first {
                background: url("/assets/img/bottle_draft.png");
                background-repeat: no-repeat;
                background-position: center;
            }
            &.second {
                background: url("/assets/img/bottle_final.png");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}