.item {
    width: 168px;
    height: 168px;
    max-height: 200px;
    float: left;
    margin: 24px;
    margin-left: 0;
    padding: 22px 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    cursor: pointer;

    .item-img {
        width: 30px;
        float: left;

        img {
            width: 100%;
        }
    }

    .item-content {
        width: 86px;
        text-align: left;
        float: left;
        padding-left: 10px;
        text-transform: uppercase;
        

        h5 {
            color: $headerBlack;
            font-size: 14px;
            font-weight: bold;
            line-height: 17px;
            margin: 8px 0;
        }
        p {
            color: $lightBlack;
            font-family: "Open Sans";
            font-size: 14px;
            line-height: 26px;
            margin: 0;
        }
    }
}