<header id="header" class="clearfix">
    <div class="page">
        <nav id="navigation" class="navigation-bar clearfix">
            <a routerLink="/home" class="logo-link pull-left">
            <img class="logo" src="../assets/img/symbol.png">
            <img class="logo" src="../assets/img/logo.png">
            </a>
            <ul class="nav-links plain-list pull-right">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/favorites">Favorites</a></li>
                <li class="join"><a routerLink="/join">Join</a></li>
            </ul>
        </nav>
        <div class="header-content pull-left text-left">
        <h6 class="header-title small-title">
            The beerster pro 2.0
        </h6>
        <h1 class="header-title big-title">
            Join our famous beerup!
        </h1>
        <a routerLink="/join" class="header-title join-link text-center">Join beerup</a>
        </div>
        <div class="header-content pull-right text-right">
            <img class="logo" src="../assets/img/illustration.png">
        </div>
    </div>
</header>