

<beerup-header class="header"></beerup-header>

<div class="main-content">
    <div class="main-wrapper page clearfix">
        <main>
            <div class="clearfix">
                <div class="content">
                    <router-outlet></router-outlet>
                </div> 
            </div>
        </main>
        <aside>
            <div class="sidebar-container">
                <!-- <router-outlet  name="sidebar"></router-outlet> -->
                <beerup-sidebar></beerup-sidebar>
            </div> 
        </aside>    
    </div>
</div>

<beerup-footer class="footer"></beerup-footer>



