$borderColor: #D8D8D8;
$inputColor: #292929;
$inputContainerBackground: #FCFCFC;
$labelColor: #9FA3A7;
$yellow: #FFC80A;
$white: #FFFFFF;

main {
    .main-content-wrapper {
        width: 552px;
        margin: 0 auto;
    }
}

.join-page {
    form {

        text-align: left;
        border-radius: 4px;
        background-color: $white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
        position: relative;
        margin: 80px 0;

        fieldset {
            border: none;
            border-bottom: 1px solid $borderColor;
            padding: 45px 30px;

            &:last-of-type {
                border-bottom: none;
            }

            .legend {
                color: $inputColor;
                font-size: 14px;
                font-weight: bold;
                line-height: 17px;
                margin-bottom: 24px;
            }
            .input-container {
                position: relative;
                margin-bottom: 24px;
            }

            input {
                font-family: "Open Sans";
                color: $inputColor;
                font-size: 14px;
                line-height: 19px;
                height: 52px;
                width: 280px;
                border-radius: 4px;
                background-color: $inputContainerBackground;
                box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.32);
                padding: 8px 18px;

            }
            input[type="checkbox"], input[type="radio"]{
                line-height: 19px;
                height: auto;
                width: auto;
                box-shadow: none;
                background-color: transparent;
            }

            input:focus ~ .floating-label,
            input:not(:focus):valid ~ .floating-label,
            textarea:focus ~ .floating-label,
            textarea:not(:focus):valid ~ .floating-label{
                top: 4px;
                bottom: 10px;
                left: 20px;
                font-size: 12px;
                line-height: 17px;
                opacity: 1;
                font-family: "Open Sans";
            }

            .floating-label {
                position: absolute;
                pointer-events: none;
                left: 20px;
                top: 18px;
                transition: 0.2s ease all;
                color: $labelColor;
            }

            textarea {
                font-size: 14px;
                line-height: 19px;
                height: 155px;
                width: 100%;
                border-radius: 4px;
                box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.32);
                background-color: $inputContainerBackground;
                padding: 8px 18px;
            }

            .checkbox-container {
                width: 100%;
                display: block;
            }

        }

        .submit-button-container {
            margin-bottom: 0;
            position: absolute;
            bottom: -30px;
            text-align: center;
            left: 0;
            right: 0;
            text-transform: uppercase;

            button {
                border-radius: 49.5px;
                background-color: $yellow;
                padding: 24px;
                text-align: center;
                color: $inputColor;
                font-size: 12px;
                font-weight: bold;
                font-family: Montserrat;
                letter-spacing: 2.4px;
                line-height: 14px;
                border: none;
                width: 117px;
            }

        }
    }
}