<footer class="clearfix">
  <div class="wrapper clearfix">
    <div class="footer-content pull-left text-left">
        <div class="footer-logo pull-left">
          <img class="logo" src="../assets/img/symbol.png">
          <img class="logo" src="../assets/img/logo.png">
        </div>
    </div>
    <div class="footer-content pull-left text-center">
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Favorites</a></li>
        <li><a href="#">Join</a></li>
      </ul>
    </div>
    <div class="footer-content pull-right text-right social-icons">
      <ul class="nav-links">
        <li><a href="#"><img class="logo" src="../assets/img/facebook.png"></a></li>
        <li><a href="#"><img class="logo" src="../assets/img/twitter.png"></a></li>
        <li><a href="#"><img class="logo" src="../assets/img/Linked In.png"></a></li>
        <li><a href="#"><img class="logo" src="../assets/img/pininterest.png"></a></li>
      </ul>
    </div>
  </div>
  <div class="wrapper copyright text-center">
      &copy; 2018 All rights reserved
  </div>
</footer>
  