///* You can add global styles to this file, and also import other style files */
@import '~normalize.scss/normalize.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


/* Custom */

@import 'styles/utilities/variables';
@import 'styles/base/base';
@import 'styles/components/_header';
@import 'styles/components/_footer';
@import 'styles/components/_page';
@import 'styles/components/_main';
@import 'styles/components/_sidebar';

@import 'styles/pages/_home';
@import 'styles/pages/_join';

@import 'styles/modules/_item';
@import 'styles/components/_modal';

/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Custom */
@import 'styles/theme'; // Material theme