<main>
    <div class="clearfix">
        <div class="content">
            <section class="items-list-section">
              <h1 class="section-title">Beer</h1>
              <div class="items-list clearfix" *ngIf="beers != undefined && beers.length">
                <div class="item clearfix" *ngFor="let beer of beers">
                  <div class="favorite">
                    <img src="../assets/img/heart outline.png" alt="Add to favorites" *ngIf="!beer.favorite" (click)="toggleFavorite(beer)">
                    <img src="../assets/img/heart solid.png" alt="Favorite beer" *ngIf="beer.favorite" (click)="toggleFavorite(beer)">
                  </div>
                  <div class="item-img">
                    <img src="{{beer.image_url}}" alt="{{beer.name}}">
                  </div>
                  <div class="item-content" (click)="openBeerInfo(beer)">
                    <h5>
                        {{ (beer.name.length>14)? (beer.name | slice:0:6)+'..':(beer.name) }}
                    </h5>
                    <p>
                      IBU {{beer.ibu}}
                    </p>
                    <p>
                      ABV {{beer.abv}}%
                    </p>
                  </div>
                </div>
              </div>
              <div *ngIf="!beers.length">
                {{errorMessage}}
              </div>
            </section>
        </div> 
    </div>
</main>
<aside>
    <div class="sidebar-container">
        <!-- <router-outlet  name="sidebar"></router-outlet> -->
        <beerup-sidebar></beerup-sidebar>
    </div> 
</aside>    


